
@{
    ViewBag.Title = "TopDonatedPosts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Top Donated Posts</h2>

<div class="container">
    <div class="row">
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Post Name</th>
                    <th>Post Category</th>
                    <th>User Name</th>
                    <th>Post Start Date</th>
                    <th>Post End Date</th>
                    <th>Collected Amount</th>
                </tr>
                @foreach (var item in ViewBag.TopDonatedPosts)
                {
                    <tr>
                        <td>@item.PostTitle</td>
                        <td>@item.CategoryName</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.CollectedAmount/=</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@section pendingPost{
    @ViewBag.Posts
}
@section pendingWithdraw{
    @ViewBag.Withdraws
}