@using System.Linq
@{
    ViewBag.Title = "TopDonor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(function () {
        $(".example").dataTable();
    })
</script>

<h2>Top Donor</h2>
<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <table class="table-bordered pull-left">
                <thead>
                    <tr>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.TopDonarList)
                    {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                        </tr>

                    }
                </tbody>
            </table>
            <table class="table-bordered" style="float:left">
                <thead>
                    <tr>
                        <th>Donatated Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Sum)
                    {
                        <tr>
                            <td>@item.ToString("0.00")/=</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <table class="table-bordered pull-left">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Total Donation Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.TopDonarListNew)
                    {
                        <tr>
                            <td>@item</td>
                            @*<td>@item.TotalDonationAmount</td>*@
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="container">
        <div class="row">
            <div class="col col-md-6 col-md-offset-6">
                <table>
                    @foreach (var item in ViewBag.Sum)
                    {
                        <tr>
                            <td>@item.ToString()</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>*@
