
@{
    ViewBag.Title = "Index";
    if (Session["Login"] == null)
    {
        Layout = "~/Views/Shared/_ViewersLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Welcome !!!! <strong>@Model.Email</strong></h1>
            <h3 class="text-danger">Please Fill Up the form to complete registration.</h3>
            <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
            <br />
            @using (Html.BeginForm("Index", "FillAllInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Regestration Form</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="firstName" />
                            <span id="error_message" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lastName" />
                            <span id="error_pass" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Present Address</label>
                            <input type="text" class="form-control" name="presentAddress" />
                            <span id="error_message" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Permanent Address</label>
                            <input type="text" class="form-control" name="permanentAddress" />
                            <span id="error_pass" class="text-danger"></span>
                        </div>

                        @* ------------------- *@
                        <div class="form-group">
                            <label>Country</label>
                            <select name="country" class="form-control">
                                <option value="SelectOne">Select One</option>
                                @foreach (var item in ViewBag.CountryList)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        @* ----------------------- *@
                        <div class="form-group">
                            <label>Contact No</label>
                            <input type="number" class="form-control" name="contactNo" min="0" />
                            <span id="error_message" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>National ID</label>
                            <input type="number" class="form-control" name="nationalID" min="0" />
                            <span id="error_pass" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label>Profile Picture</label>
                            <input type="file" class="form-control" name="file" />
                            <span id="error_pass" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>User Account No</label>
                            <input type="text" class="form-control" name="userAccountNo" />
                            <span id="error_message" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Select Bank</label>
                            <select name="BankList" class="form-control">
                                <option value="0">Select One</option>
                                @foreach (var item in ViewBag.BankList)
                                {
                                    <option value="@item.BankId">@item.BankName @item.BranchName Branch</option>
                                }
                            </select>

                            <span id="error_pass" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
