
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
<h5 class="text-danger">@ViewBag.ErrorMessage</h5>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Provide New Information</strong></div>
                <div class="panel-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="BankName">Bank Name</label>
                            <input type="text" class="form-control" name="BankName" value="@Model.BankName" />
                        </div>
                        <div class="form-group">
                            <label for="BranchName">Branch Name</label>
                            <input type="text" class="form-control" name="BranchName" value="@Model.BranchName" />
                        </div>
                        <input type="hidden" name="id" value="@Model.BankId" />
                        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                        <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
