
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-md-offset-3">

                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Edit Personal Informations</strong></div>
                    <div class="panel-body">

                        @foreach (var item in ViewBag.UserInfo)
                        {
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstName" value="@item.FirstName" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastName" value="@item.LastName" />
                            </div>
                            <div class="form-group">
                                <label>Present Address</label>
                                <input type="text" class="form-control" name="presentAddress" value="@item.PresentAddress" />
                            </div>
                            <div class="form-group">
                                <label>Permanent Address</label>
                                <input type="text" class="form-control" name="permanentAddress" value="@item.PermanentAddress" />
                            </div>
                            <div class="form-group">
                                <label>Contact No</label>
                                <input type="text" class="form-control" name="contactNo" value="@item.ContactNo" />
                            </div>
                            <div class="form-group">
                                <label>National ID</label>
                                <input type="text" class="form-control" name="nationalID" value="@item.NationalId" />
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" name="country">
                                    <option value="@item.Country">@item.Country</option>
                                    @foreach (var item2 in ViewBag.CountryList)
                                    {
                                        <option value="@item2">@item2</option>
                                    }
                                </select>
                            </div>

                        }
                        @foreach (var item in ViewBag.EditBankDetails)
                        {
                            <div class="form-group">
                                <label>User Account No</label>
                                <input type="text" class="form-control" name="userAccountNo" value="@item.UserAccountNo" />
                            </div>
                            <div class="form-group">
                                <label>Select Bank</label>
                                <select class="form-control" name="BankList">
                                    <option value="@item.BankId">@item.BankName @item.BranchName Branch</option>
                                    @foreach (var item1 in ViewBag.BankList)
                                    {
                                        <option value="@item1.BankId">@item1.BankName @item1.BranchName Branch</option>
                                    }
                                </select>
                            </div>
                        }
                    </div>
                </div>
                <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
                <button class="btn btn-primary pull-right" type="submit"><i class="glyphicon glyphicon-refresh"></i> Update</button>
            </div>
        </div>
    </div>
</form>
<br />
<br />