@*@model layeredFundRaiserSystem.Controllers.BaseAdminController*@
<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <link href="~/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/dataTables.bootstrap.js"></script>

    @RenderSection("scripts", false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <style type="text/css">
        
        .linkColor {
            color: black;
        }

        ul li {
            font-size: large;
        }
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body style="background-color:#eeeff4;">
    @*<a href="/AdminHome"><img src="~/icon/Donate-Icon-4.png" height="100" width="190" /></a>*@
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #16cc6b">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand linkColor" href="/AdminHome"><i class="glyphicon glyphicon-home"></i> FRS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/AdminHome" class="linkColor">Home</a></li>
                <li><a href="/ManagePost" class="linkColor">Approve Post&nbsp;&nbsp;<span class="badge">@ViewBag.Posts</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle linkColor" data-toggle="dropdown" href="#">Requests&nbsp;&nbsp;<span class="badge">@(ViewBag.Withdraws + ViewBag.CountTimeExtendReq)</span></a>
                    <ul class="dropdown-menu dropdown-content" style="background-color:#16cc6b">
                        <li><a href="/ManageWithdrawRequests" class="linkColor">Withdrawal Requests&nbsp;&nbsp;<span class="badge">@ViewBag.Withdraws</span></a></li>
                        <li><a href="/ManageTimeExtend" class="linkColor">Time Extend Requests&nbsp;&nbsp;<span class="badge">@ViewBag.CountTimeExtendReq</span></a></li>
                    </ul>
                </li>

                @*<li><a href="/ManagePost" class="linkColor">Approve Post&nbsp;&nbsp;<span class="badge">@ViewBag.Posts</span></a></li>
        <li><a href="/ManageWithdrawRequests" class="linkColor">Withdrawal Requests&nbsp;&nbsp;<span class="badge">@ViewBag.Withdraws</span></a></li>
        <li><a href="/ManageTimeExtend" class="linkColor">Time Extend Requests&nbsp;&nbsp;<span class="badge">@ViewBag.CountTimeExtendReq</span></a></li>*@
                <li class="dropdown">
                    <a class="dropdown-toggle linkColor" data-toggle="dropdown" href="#">Manage</a>
                    <ul class="dropdown-menu dropdown-content" style="background-color:#16cc6b">
                        <li><a href="/ManageCategory" class="linkColor">Category</a></li>
                        <li><a href="/ManageUser" class="linkColor">User Management</a></li>
                        <li><a href="/ManageBankInformation" class="linkColor">Bank Information</a></li>
                    </ul>
                </li>
                <li><a href="/ManagePost/StatusWisePost" class="linkColor">Post Status</a></li>
                <li><a href="/AdminReports" class="linkColor">Reports</a></li>
                <li><a href="/Settings" class="linkColor">Settings</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle linkColor" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i> @ViewBag.adminName
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-content" style="background-color:#16cc6b">
                        <li><a href="/AdminProfile" class="linkColor"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                        <li><a href="/AdminProfile/Edit" class="linkColor"><i class="glyphicon glyphicon-edit"></i> Edit Info</a></li>
                        <li><a href="/AdminProfile/ChangePassword" class="linkColor"><i class="glyphicon glyphicon-cog"></i> Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Logout" class="linkColor"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-top:5%;min-height:500px;">
        @RenderBody()
    </div>
   
    <nav class="copyright" style="background-color: #16cc6b;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <h5 class="pull-left">© 2016 - All Rights with FRS</h5>
                    <br />
                    <div class="col-md-offset-4">
                        <label><a href="/Home/Index" class="linkColor">frs.com</a> ||</label>
                        <label><a href="/Home/AboutUs" class="linkColor">About Us</a> ||</label>
                        <label><a href="#" class="linkColor">Blog</a> ||</label>
                        <label><a href="/Home/FAQ" class="linkColor">FAQ's</a> ||</label>
                        <label><a href="/Home/ContactUs" class="linkColor">Contact Us ||</a></label>
                        <label><a href="#" class="linkColor">Site Map</a></label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                height: 100%; width: 100%; background-color: #FFFFFF">
            <p style="margin-left: 10px">We're sorry, but This site doesn't work properly without JavaScript enabled. Please Enable Javascript</p>
        </div>
    </noscript>
</body>
</html>