@*@model layeredFundRaiserSystem.Controllers.BaseAdminController*@
<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <link href="~/Scripts/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/dataTables.bootstrap.js"></script>

    <script src="Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="signalr/hubs"></script>

    @RenderSection("scripts", false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <style type="text/css">
        ul li {
            font-size: large;
            /*text-align: center;*/
        }
    </style>
</head>
<body>
    @*<a href="/AdminHome"><img src="~/icon/Donate-Icon-4.png" height="100" width="190" /></a>*@
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/AdminHome"><i class="glyphicon glyphicon-home"></i> Fund Raising System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/AdminHome">Home</a></li>
                <li><a href="/ManagePost">Approve Post&nbsp;&nbsp;<span class="badge">@ViewBag.Posts</span></a></li>
                <li><a href="/ManageWithdrawRequests">Withdrawal Requests&nbsp;&nbsp;<span class="badge">@ViewBag.Withdraws</span></a></li>
                <li><a href="/ManageTimeExtend">Time Extend Requests&nbsp;&nbsp;<span class="badge">@ViewBag.CountTimeExtendReq</span></a></li>
                @*<li><a href="/ManageCategory">Category Management</a></li>
                    <li><a href="/ManageUser">User Management</a></li>
                    <li><a href="/ManageBankInformation">Bank Information Management</a></li>*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
                    <ul class="dropdown-menu">
                        <li><a href="/ManageCategory">Category</a></li>
                        <li><a href="/ManageUser">User Management</a></li>
                        <li><a href="/ManageBankInformation">Bank Information</a></li>
                    </ul>
                </li>
                <li><a href="/AdminReports">Reports</a></li>
                <li><a href="/Settings">Settings</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i> @ViewBag.adminName
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/AdminProfile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                        <li><a href="/AdminProfile/Edit"><i class="glyphicon glyphicon-edit"></i> Edit Info</a></li>
                        <li><a href="/AdminProfile/ChangePassword"><i class="glyphicon glyphicon-cog"></i> Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <nav class="copyright" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="col-md-12">
                <br />
                <h5 class="pull-left">© 2016 - All Rights with Webenlance</h5>
                <br />
                <br />
                <ul class="bottom_ul">
                    <li><a href="#">webenlance.com</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Faq's</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                height: 100%; width: 100%; background-color: #FFFFFF">
            <p style="margin-left: 10px">We're sorry, but This site doesn't work properly without JavaScript enabled. Please Enable Javascript</p>
        </div>
    </noscript>
</body>
</html>