
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Request for fund withdraw</strong></div>
                    <div class="panel-body">
                        <h3 class="text-center">@Model.PostTitle</h3>
                        <br />
                        <b><span class="pull-left text-success">Withwrawable Amount @Model.RemainingAmount.ToString("0.00") /=</span></b>
                        <b><span class="pull-right text-danger">Service Charge Per withdraw @ViewBag.ServiceCharge %</span></b>
                        <br />
                        <br />
                        <div class="form-group">
                            <label for="amount">Enter Amount</label>
                            <input type="number" min="0" step=".01" class="form-control" name="Amount" />
                        </div>
                        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                        <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-send"></i> Send Request</button>
                        <a href="/FundWithdraw/MyWithdraws" class="pull-left">See Withdraw Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
