
@{
    ViewBag.Title = "MyWithdraws";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Withdraw Requests Pending</a></li>
    <li><a data-toggle="tab" href="#menu1">Withdraw Requests Transfered</a></li>

</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h2>@ViewBag.ErrorMessage</h2>

        @if (ViewBag.ErrorMessage == null)
        {
            <div class="container">
                <div class="row">
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <th>Post Id</th>
                                <th>Requested Amount</th>
                                <th>Requested Date</th>
                            </tr>
                            @foreach (var item in ViewBag.AllRequests)
                            {
                                if (item.RequestStatus == "Pending")
                                {
                                    <tr>
                                        <th>@item.PostId</th>
                                        <th>@item.WithdrawAmount/=</th>
                                        <th>@item.WithdrawDate</th>
                                    </tr>
                                }

                            }
                        </table>

                    </div>
                </div>
            </div>
        }


    </div>
    <div id="menu1" class="tab-pane fade">
        <h2>@ViewBag.ErrorMessage</h2>

        @if (ViewBag.ErrorMessage == null)
        {
            <div class="container">
                <div class="row">
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <th>Post Id</th>
                                <th>Requested Amount</th>
                                <th>Requested Date</th>
                            </tr>
                            @foreach (var item in ViewBag.AllRequests)
                            {
                                if (item.RequestStatus == "Transfered")
                                {
                                    <tr>
                                        <th>@item.PostId</th>
                                        <th>@item.WithdrawAmount/=</th>
                                        <th>@item.WithdrawDate</th>
                                    </tr>
                                }

                            }
                        </table>

                    </div>
                </div>
            </div>
        }


    </div>

</div>


@section username{
    @ViewBag.LoginName
}