
@{
    ViewBag.Title = "Index";
    if (Session["Login"] == null)
    {
        Layout = "~/Views/Shared/_ViewersLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="demo-content" style="width:750px">
                <h2>@Model.PostTitle</h2>
                <img style="height:200px; width:400px;" src="~/PostImages/@Model.PostImage" />
                <br />
                <br />
                @foreach (var item in ViewBag.UserName)
                {
                    <h4>Posted By @item.FirstName @item.LastName</h4> 
                }
                <br />
                <h4>Description</h4>
                <p style="text-align:justify">@Model.PostDetails</p>
                <br />
            </div>
            <div>
                <h4>Share Now</h4>
                <a class="btn btn-default" href="#">Facebook</a>
                <a class="btn btn-default" href="#">Twitter</a>
                <a class="btn btn-default" href="#">Email</a>
            </div>
            <div class="demo-content">
                <div style="width:600px;">
                    <div class="section clearfix">

                        <!-- SECTION HEADER -->
                        <h4 class="section-header">Discussions</h4>

                        <!-- MOBILE TAB SELECT -->
                        <form class="col-xs-6 pull-right visible-xs">
                            <select class="mobileTab form-control" style="display: none;">
                                <option value="0">Mobile Accessories</option>
                                <option value="1">Tablet Accessories</option>
                                <option value="2">Powerbanks</option>
                                <option value="3">Lorem</option>
                                <option value="4">Ipsum</option>
                            </select>
                        </form>

                        <!-- TAB MENU -->
                        <ul class="tabMenu nav nav-tabs">

                            <li class="active"><a data-toggle="tab" href="#" aria-expanded="true">All Comments</a></li>
                            <li class=""><a data-toggle="tab" href="#" aria-expanded="false">Comment On Post</a></li>

                        </ul>

                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <!-- All Comments -->
                            <div id="mobile-accessories" class="tab-pane fade active in">
                                <div class="clearfix"></div>
                                <!-- PRODUCT SLIDER -->
                                <div class="product-slider bg-dark-white clearfix slick-initialized slick-slider">
                                    <!-- PRODUCT -->
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 103px; transform: translate3d(0px, 0px, 0px);" role="listbox">
                                            <h1>Hello</h1>
                                        </div>
                                    </div>	<!-- PRODUCT END -->
                                </div>	<!-- PRODUCT SLIDER END -->
                            </div>
                            <!-- All Comments END -->
                            <!-- TABLET ACCESSORIES -->
                            <div id="tablet-accessories" class="tab-pane fade">
                                <!-- PRODUCT SLIDER -->
                                <div class="product-slider bg-dark-white clearfix slick-initialized slick-slider">
                                    <!-- PRODUCT -->
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 103px; transform: translate3d(0px, 0px, 0px);" role="listbox">
                                            <h1>Hellodfsdf</h1>
                                        </div>
                                    </div>	<!-- PRODUCT END -->
                                </div>	<!-- PRODUCT SLIDER END -->
                            </div>	<!-- TABLET ACCESSORIES END -->
                        </div>	<!-- TAB CONTENT END -->
                    </div>	<!-- SECTION WRAPPER END -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="demo-content">
                <div style="width:400px;height:400px;" class="text-primary">
                    <br />
                    <br />
                    <h4>Campain Ends in @(Convert.ToInt32((Model.EndDate - DateTime.Now).TotalDays)) Days </h4>
                    <br />
                    <h4>Collected Amount @Model.CollectedAmount/= </h4>
                    <br />
                    <h4>Number Of People Donated @ViewBag.NumberOfPeopleDonated</h4>
                    <br />
                    <h4>@(Model.RequiredAmount - Model.CollectedAmount)/= More Needed</h4>
                    <h5>Collection Completed</h5>
                    <div class="progress">
                        <div class="progress-bar-success text-center" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:@((Model.CollectedAmount / Model.RequiredAmount) * 100)%; color:White">
                             @Convert.ToInt32(((Model.CollectedAmount / Model.RequiredAmount) * 100))%
                        </div>
                    </div>
                    <br />
                    @if (Model.UserInformationId != Convert.ToInt32(Session["UserInformationId"]) || Session["UserInformationId"] == null)
                    {
                        <a class="btn btn-default" href="/DonateOnPost/Index/@Model.PostId">Donate Now</a>
                    }
                </div>
            </div>
            <div class="demo-content">
                <h4>Recent Donors</h4>
                <div style="text-align:left">
                    @{
                        int processed = 0;
                        foreach (var item in ViewBag.DonorList)
                        {
                            <div>
                                <img src="~/ProfilePictures/@item.ProfilePicture" height="50" width="50"/>
                                <b><span>@item.FirstName donated @item.DonationAmount/=</span></b>
                                <hr />
                            </div>
                            
                            if (++processed == 6)
                            {
                                break;
                            }
                        }
                    } 
                </div>
            </div>
        </div>
    </div>
</div>
