
@{
    ViewBag.Title = "Index";
    if (Session["Login"] == null)
    {
        Layout = "~/Views/Shared/_ViewersLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="demo-content" style="width:750px">
                <h2>@Model.PostTitle</h2>
                <img style="height:200px; width:400px;" src="~/PostImages/@Model.PostImage" />
                <br />
                <br />
                @foreach (var item in ViewBag.UserName)
                {
                    <h4>Posted By @item.FirstName @item.LastName</h4>
                }
                <br />
                <h4>Description</h4>
                <p style="text-align:justify">@Model.PostDetails</p>
                <br />
            </div>
            <div>
                <h4>Share Now</h4>
                <a class="btn btn-default" href="#">Facebook</a>
                <a class="btn btn-default" href="#">Twitter</a>
                <a class="btn btn-default" href="#">Email</a>
            </div>

            <div>
                <h2>Leave a comment</h2>

                <textarea rows="4" cols="50" id="msg" placeholder="Not More Than 50 words"></textarea>
                <button style="height:25px; width:75px;" id="comment">Comment</button>
                <input type="hidden" value="@ViewBag.UserInformationId" id="user_id" />
                <input type="hidden" value="@Model.PostId" id="post_id" />

                <h2>Recent Comments</h2>
                <div id="ShowRecentComments">

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="demo-content">
                <div style="width:400px;height:400px;" class="text-primary">
                    <br />
                    <br />
                    <h4>Campain Ends in @(Convert.ToInt32((Model.EndDate - DateTime.Now).TotalDays)) Days </h4>
                    <br />
                    <h4>Collected Amount @Model.CollectedAmount/= </h4>
                    <br />
                    <h4>Number Of People Donated @ViewBag.NumberOfPeopleDonated</h4>
                    <br />
                    <h4>@(Model.RequiredAmount - Model.CollectedAmount)/= More Needed</h4>
                    <h5>Collection Completed</h5>
                    <div class="progress">
                        <div class="progress-bar-success text-center" id="progress" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:@((Model.CollectedAmount / Model.RequiredAmount) * 100)%; color:White">
                            @Convert.ToInt32(((Model.CollectedAmount / Model.RequiredAmount) * 100))%
                        </div>
                    </div>
                    <br />
                    @if (Model.UserInformationId != Convert.ToInt32(Session["UserInformationId"]) || Session["UserInformationId"] == null)
                    {                        
                        <a class="btn btn-default" href="/DonateOnPost/Index/@Model.PostId">Donate Now</a>
                    }
                </div>
            </div>
            <div class="demo-content">
                <h4>Recent Donors</h4>
                <div style="text-align:left">
                    @{
                        int processed = 0;
                        foreach (var item in ViewBag.DonorList)
                        {
                            <div>
                                <img src="~/ProfilePictures/@item.ProfilePicture" height="50" width="50" />
                                <b><span>@item.FirstName donated @item.DonationAmount/=</span></b>
                                <hr />
                            </div>

                            if (++processed == 6)
                            {
                                break;
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function executeQuery() {
        $.ajax({
            url: '@Url.Action("Comment", "PostDetailsView")',
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            data: { id: $("#post_id").val(), id1:0, id2:"null" },
            success: function (response) {
                var data = response.list;
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str = str + "<div style='text-align:left'><div> <img style='height:50px; width:50px;' src='/ProfilePictures/" + data[i].UserImage + "'/><span><b>   " + data[i].UserName + "</b></span><br><span>Comment: " + data[i].Comment + "</span><hr /></div ></div >";
                    //str = str + "<div>User Name:" + data[i].UserName + "<br /><img style='height:50px; width:50px;' src='/ProfilePictures/" + data[i].UserImage + "' /><br />Comment: " + data[i].Comment + "</div >";
                }
                $("#ShowRecentComments").html(str);
            }
        });
    }

    $(document).ready(function () {
        executeQuery();
        $("#comment").click(function () {

            var login = true;

            if ($("#msg").val() == "")
            {
                alert("Type a comment");
                e.preventDefault();
                return false;
            }

            $.ajax({
                url: '@Url.Action("CheckLogin", "Login")',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                data: {  },
                success: function (response)
                {
                    if (response.message != "")
                    {
                        login = false;
                        alert('Please Login To Comment');
                    }
                }
            });

            if (login == true)
            {
                $.ajax({
                    url: '@Url.Action("Comment", "PostDetailsView")',
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    data: { id: $("#post_id").val(), id1: $("#user_id").val(), id2: $("#msg").val() },
                    success: function (response) {
                        var data = response.list;
                        var str = "";
                        for (var i = 0; i < data.length; i++) {
                            str = str + "<div style='text-align:left'><div> <img style='height:50px; width:50px;' src='/ProfilePictures/" + data[i].UserImage + "'/><span><b>   " + data[i].UserName + "</b></span><br><span>Comment: " + data[i].Comment + "</span><hr /></div ></div >";
                            //str = str + "<div>User Name:" + data[i].UserName + "<br /><img style='height:50px; width:50px;' src='/ProfilePictures/" + data[i].UserImage + "' /><br />Comment:" + data[i].Comment + "</div >";
                        }
                        $("#ShowRecentComments").html(str);
                        $("#msg").val('');
                    }
                });
            }
        });
    });
</script>





