
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>My Donations</h2>

<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">Total Donated on</th>
        <th class="text-center">Total Donated Amount</th>
    </tr>
    <tr>
        <td>@ViewBag.numberOfDonatedPosts posts</td>
        <td>@ViewBag.SumOfDonatedAmount/=</td>
    </tr>
</table>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>My Donations</strong></div>
            <div class="table tab-pane">
                <table class="table table-bordered" style="text-align: center;">
                    <tr>
                        <th>Title</th>
                        <th>Required Amount</th>
                        <th>Donated Amount</th>
                        <th>Date</th>
                        <th>Posted By</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in ViewBag.DonationList)
                    {
                        <tr>
                            <td>@item.PostTitle</td>
                            <td>@item.RequiredAmount/=</td>
                            <td>@item.DonationAmount/=</td>
                            <td>@item.DonationDate</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.PostStatus</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
