
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script>
    $(function () {
        $(".example").dataTable();
    })
</script>

<div class="row">
    <table class="table text-center" style="background-color:seagreen; color:white">
        <thead>
            <tr style="font-size:xx-large; border-bottom:hidden">
                <th class="text-center">Total Donated on</th>
                <th class="text-center">Total Donated Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-size:xx-large">
                <td>@ViewBag.numberOfDonatedPosts posts</td>
                <td>@ViewBag.SumOfDonatedAmount/=</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>My Donations</strong></div>
            <div class="table tab-pane">
                <table class="table table-bordered example" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Required Amount</th>
                            <th>Donated Amount</th>
                            <th>Date</th>
                            <th>Posted By</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.DonationList)
                        {
                            <tr>
                                <td>@item.PostTitle</td>
                                <td>@item.RequiredAmount.ToString("0.00")/=</td>
                                <td>@item.DonationAmount.ToString("0.00")/=</td>
                                <td>@item.DonationDate.ToShortDateString()</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.PostStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
