
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>My Donations</h2>

<script>
    $(function () {
        $(".example").dataTable();
    })
</script>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="table tab-pane">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Total Donated on</th>
                            <th class="text-center">Total Donated Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.numberOfDonatedPosts posts</td>
                            <td>@ViewBag.SumOfDonatedAmount/=</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>My Donations</strong></div>
            <div class="table tab-pane">
                <table class="table table-bordered example" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Required Amount</th>
                            <th>Donated Amount</th>
                            <th>Date</th>
                            <th>Posted By</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.DonationList)
                        {
                            <tr>
                                <td>@item.PostTitle</td>
                                <td>@item.RequiredAmount/=</td>
                                <td>@item.DonationAmount/=</td>
                                <td>@item.DonationDate</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.PostStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
