
@{
    ViewBag.Title = "MostViewedPosts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".example").dataTable();
    });
</script>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>Most Viewed Posts</strong></div>
            <div class="table tab-pane" style="text-align:center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Post Name</th>
                            <th>Post Category</th>
                            <th>User Name</th>
                            <th>Post Start Date</th>
                            <th>Post End Date</th>
                            <th>Viewed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.MostViewedPosts)
                        {
                            <tr>
                                <td>@item.PostTitle</td>
                                <td>@item.CategoryName</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.ClickCounter Times</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
