
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ChangePassword</h2>

<div>
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <h3>@Model.FirstName @Model.LastName</h3>
                            <div class="page-header">Change Password</div>
                            <div class="form-group">
                                <label for="CurrentPassword">Current Password</label>
                                <input type="password" name="CurrentPassword" placeholder="Enter Currect Password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">Enter New Password</label>
                                <input type="password" name="NewPassword" placeholder="Password must be more than 8 charecter" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="confirmPassword" placeholder="Re-Type Password" class="form-control" />
                                <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                            </div>
                            <input type="submit" value="Change Password" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



@section pendingPost{
    @ViewBag.Posts
}

@section pendingWithdraw{
    @ViewBag.Withdraws
}

@section username{
    @ViewBag.adminName
}