@model FundRaiserSystemEntity.Administration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table tr td {
        padding-left: 5%;
    }

    table tr th {
        text-align: left;
    }
</style>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col col-md-6 col-md-offset-3">
                <div class="pull-left">
                    <center>
                        <img src="~/icon/boss-512.png" height="200" width="200" style="border-radius:50%;" />
                        <h3>@Model.FirstName @Model.LastName</h3>
                        <a href="/AdminProfile/ChangePassword">Change Password</a>
                    </center>
                </div>
                <div class="pull-right" style="padding-top:5%">
                    <table>
                        <tr>
                            <th><h4>First Name</h4></th>
                            <td><h5>@Model.FirstName</h5></td>
                        </tr>
                        <tr>
                            <th><h4>Last Name</h4></th>
                            <td><h5>@Model.LastName</h5></td>
                        </tr>
                        <tr>
                            <th><h4>Email Address</h4></th>
                            <td><h5>@Model.Email</h5></td>
                        </tr>
                        <tr>
                            <th><h4>Address</h4></th>
                            <td><h5>@Model.Address</h5></td>
                        </tr>
                        <tr>
                            <th><h4>Role</h4></th>
                            <td><h5>@Model.Role</h5></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col col-md-6 col-md-offset-3">
                <a class="btn btn-primary pull-right" href="/AdminProfile/Edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $(document).on("submit", "form", function (e) {

            if ($("#fname").val() == "") {
                $("#error_fname").html("First Name Cannot be empty");
                e.preventDefault();
                return false;
            }

            else
                $("#error_message").html("");

            if ($("#lname").val() == "") {
                $("#error_lname").html("Last Name Cannot be empty");
                e.preventDefault();
                return false;
            }
            else
                $("#error_lname").html("");

            if ($("#email").val() == "") {
                $("#error_email").html("Email Cannot be empty");
                e.preventDefault();
                return false;
            }
            else
                $("#error_email").html("");

            if ($("#address").val() == "") {
                $("#error_address").html("Address Cannot be empty");
                e.preventDefault();
                return false;
            }
            else {
                $("#error_address").html("");
                return true;
            }
        });
    });
</script>
